.news {
    margin-top: 140px;

    &__title {
        width: 100%;
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        text-align: center;
        margin-bottom: 106px;
    }

    &__row--wide {
        margin-left: -55px !important;
        margin-right: -55px !important;
    }
}