.hero-text {
    
    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 181px;
        z-index: 3;
    }

    &__title {
        color: $white;
        font-weight: bold;
        font-size: 65px;
        line-height: 98px;
    }

    &__text {
        max-width: 55%;
        color: $white;
        font-size: 46px;
        line-height: 72px;
    }
}