.hero-text {
    
    &__wrapper {
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        z-index: 2;
        @include media-breakpoint-up(lg) { 
            top: unset;
            bottom: 181px;
         }
    }

    &__title {
        color: $white;
        font-weight: bold;
        font-size: 46px;
        line-height: 1.2;
        text-align: center;
        @include media-breakpoint-up(lg) { 
            font-size: 65px;
            line-height: 98px;
            text-align: left;
        }
    }

    &__text {
        color: $white;
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
        @include media-breakpoint-up(lg) { 
            max-width: 55%;
            font-size: 46px;
            line-height: 72px;
            text-align: left;
        }
    }
}