.header {
    position: relative;
    height: 67px;
    padding-top: 42px;
    margin-bottom: -67px;
    z-index: 4;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
    }
}