.header-social {
    display: flex;

    &__item {
        display: block;
        width: 27px;
        height: 27px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 23px;
        cursor: pointer;
    }
}