.gallery {
    position: relative;
    margin-top: 80px;
    @include media-breakpoint-up(lg) { 
        margin-top: 140px;
    }

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 312px 385px 385px 218px;
        grid-template-rows: 161px;
        column-gap: 15px;
        row-gap: 10px;
        grid-template-areas: 
          "left big-top small-top small-top"
          "left big-top big-bottom right"
          "left small-bottom big-bottom right"; 
          overflow-x: scroll;
        @include media-breakpoint-up(lg) { 
        grid-template-columns: 625px 770px 770px 436px;
        grid-template-rows: 322px;
        column-gap: 30px;
        row-gap: 20px;
        }    
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__img {
        overflow: hidden;

        img {
            transition: 0.3s ease-out;
        }

        &:hover {
            img {
                transform:scale(1.2);
            }
        }
    }

    &__img1 {
        grid-area: left;
    }

    &__img2 {
        grid-area: big-top;
    }

    &__img3 {
        grid-area: small-bottom;
    }

    &__img4 {
        grid-area: big-bottom;
    }

    &__img5 {
        grid-area: small-top;
        max-width: 770px;
        margin-left: auto;
        margin-right: 0;
    }

    &__img6 {
        grid-area: right;
    }

    &__title {
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        text-align: right;

        &__wrapper {
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }

        &__line {
            width: 450px;
            height: 20px;
            background: $black;
            margin-top: 45px;
            margin-left: auto;
        }
    }

    &__arrows {
        width: 80px;
        height: 80px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(lg) { 
            width: 130px;
            height: 130px;
            transform: translateY(-50%);
        }  

        svg {
            width: 50px;
            @include media-breakpoint-up(lg) { 
                width: 78px;
            }
        }

        &:hover {

            svg {
                path {
                    stroke: $white; 
                }
            }
        }

        &--prev {
            background-size: 200% 100%;
            background-image: linear-gradient(to left, $white 50%, $black 50%);
            background-position: -100% 0;
            -webkit-transition: background-position 0.3s;
            -moz-transition: background-position 0.3s;
            transition: background-position 0.3s;

            &:hover {
                background-position: 0;
            }

            svg {
                transform: translate(-12px, 0);
            }
        }

        &--next {
            background-size: 200% 100%;
            background-image: linear-gradient(to right, $white 50%, $black 50%);
            -webkit-transition: background-position 0.3s;
            -moz-transition: background-position 0.3s;
            transition: background-position 0.3s;

            &:hover {
                background-position: -100% 0;
            }

            svg {
                transform: translate(12px, 0);
            }
        }

        &__wrapper {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: 5;

            .container-fluid {
                display: flex;
                justify-content: space-between;
                padding: 0 15px;
            }
        }
    }

    .gallery__title__wrapper--mobile {

        .gallery__title {
            font-size: 40px;
            line-height: 1.2;
            @include media-breakpoint-up(lg) { 
                font-size: 65px;
                line-height: 75px;
            }
        }

        .gallery__title__line {
            width: 50%;
            height: 8px;
            margin-top: 10px;
            margin-bottom: 40px;
            @include media-breakpoint-up(lg) { 
                width: 35%;
                height: 20px;
                margin-top: 20px;
            }
        }
    }
}